@{
  Layout = "_Layout";
}
<h3>Results</h3>
<ul>
  <li>  @Model["word"].GetWord() is an anagram with:
    <ul>
      @foreach(var word in Model["list"])
      {
        <li>@word.GetWord()</li>
      }
    </ul>
  </li>
</ul>
